<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Gfast开源框架演示站点</title>
    <meta name="keywords" content="GO后台管理系统 GO权限管理系统 GO前后端分离框架">
    <meta name="description"
          content="Gfast前后端分离框架由奇讯科技团队研发，公司以以统计宏观数据库平台、挂图作战(督办)指挥平台为主打产品,为您提供网站建设、软件开发、APP软件定制。0874-3331516">
    <meta name="SiteName" content="Gfast官方网站">
    <meta name="SiteDomain" content="http://www.g-fast.cn">
    <link rel="shortcut icon" type="image/x-icon" href="${.domain}image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="${.domain}cms/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="${.domain}cms/css/qxkj.css"/>
</head>

<body>
<div class="site">
    <div class="container">
        ${template "left_nav" .}
        <div class="content-wrapper">
            <div class="recent-content">
                <div class="showart">
                    <div class="loccrumbs"><span>您当前的位置 ></span>
                        <a href="#">首页 </a> >
                        <a href="#">财经股票</a>
                    </div>
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场</a></h3>
                    <div class="footbar">
                        <i class="footbar-like">网站小编 </i>
                        <i class="footbar-like"><a href="#">点赞(2)</a></i>
                        <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                        <i class="footbar-like"><a href="#">分享</a></i>
                    </div>
                    <div class="showcontent">
                        <img src="images/showbg.jpg">
                        <p>
                            特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但该计划遭到许多国会议员、农业协会代表和农场主们的反对，他们纷纷表示“要市场不要补贴”，敦促特朗普政府尽快结束与其他经济体的贸易争端。</p>
                        <p>
                            特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但该计划遭到许多国会议员、农业协会代表和农场主们的反对，他们纷纷表示“要市场不要补贴”，敦促特朗普政府尽快结束与其他经济体的贸易争端。</p>
                        <p>
                            特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但该计划遭到许多国会议员、农业协会代表和农场主们的反对，他们纷纷表示“要市场不要补贴”，敦促特朗普政府尽快结束与其他经济体的贸易争端。</p>
                        <p>
                            特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但该计划遭到许多国会议员、农业协会代表和农场主们的反对，他们纷纷表示“要市场不要补贴”，敦促特朗普政府尽快结束与其他经济体的贸易争端。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ${template "sitebar" .}
</div>
</div>
</body>