<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Gfast开源框架演示站点</title>
    <meta name="keywords" content="GO后台管理系统 GO权限管理系统 GO前后端分离框架">
    <meta name="description"
          content="Gfast前后端分离框架由奇讯科技团队研发，公司以以统计宏观数据库平台、挂图作战(督办)指挥平台为主打产品,为您提供网站建设、软件开发、APP软件定制。0874-3331516">
    <meta name="SiteName" content="Gfast官方网站">
    <meta name="SiteDomain" content="http://www.g-fast.cn">
    <link rel="shortcut icon" type="image/x-icon" href="${.domain}image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="${.domain}cms/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="${.domain}cms/css/qxkj.css"/>
</head>

<body>
<div class="site">
    <div class="container">
        ${template "left_nav" .}
        <div class="content-wrapper">
            <div class="gslider">
                <img src="${.domain}cms/images/800x400.jpg">
            </div>
            <div class="recent-content">
                <h2><span>最新发布</span></h2>

                <div class="lista">
                    <h3><a href="#">呼伦贝尔: 你不可错过的辽阔草原和兴安秋色!</a></h3>
                    <div class="pov">
                        <div class="tittop">
                            <b>网站小编</b><b>发布于 2018-08-03</b>
                        </div>
                        <ul>
                            <li>
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/280x180.jpg"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/g7-280.jpg"></div>
                                </a>
                            </li>
                            <li class="mg">
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/280x180.jpg"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footbar">
                        <i class="footbar-category"><a href="#">旅游攻略</a></i>
                        <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                        <i class="footbar-like"><a href="#">评论(2)</a></i>
                        <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场!</a></h3>
                    <div class="pov">
                        <div class="sview">
                            <div class="sviewl">
                                <div class="tittop">
                                    <b>网站小编</b><b>发布于 2018-08-03</b>
                                </div>
                                <div class="art_summary">
                                    <p>特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但…</p>
                                </div>
                                <div class="footbar">
                                    <i class="footbar-category"><a href="#">旅游攻略</a></i>
                                    <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                                    <i class="footbar-like"><a href="#">评论(2)</a></i>
                                    <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                                </div>
                            </div>
                            <div class="sviewr">
                                <a href="#"><img src="${.domain}cms/images/g7-280.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场!</a></h3>
                    <div class="pov">
                        <div class="sview">
                            <div class="sviewl">
                                <div class="tittop">
                                    <b>网站小编</b><b>发布于 2018-08-03</b>
                                </div>
                                <div class="art_summary">
                                    <p>特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但…</p>
                                </div>
                                <div class="footbar">
                                    <i class="footbar-category"><a href="#">旅游攻略</a></i>
                                    <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                                    <i class="footbar-like"><a href="#">评论(2)</a></i>
                                    <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                                </div>
                            </div>
                            <div class="sviewr">
                                <a href="#"><img src="${.domain}cms/images/g7-280.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场!</a></h3>
                    <div class="pov">
                        <div class="sview">
                            <div class="sviewl">
                                <div class="tittop">
                                    <b>网站小编</b><b>发布于 2018-08-03</b>
                                </div>
                                <div class="art_summary">
                                    <p>特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但…</p>
                                </div>
                                <div class="footbar">
                                    <i class="footbar-category"><a href="#">旅游攻略</a></i>
                                    <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                                    <i class="footbar-like"><a href="#">评论(2)</a></i>
                                    <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                                </div>
                            </div>
                            <div class="sviewr">
                                <a href="#"><img src="${.domain}cms/images/g7-280.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">呼伦贝尔: 你不可错过的辽阔草原和兴安秋色!</a></h3>
                    <div class="pov">
                        <div class="tittop">
                            <b>网站小编</b><b>发布于 2018-08-03</b>
                        </div>
                        <ul>
                            <li>
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/280x180.jpg"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/g7-280.jpg"></div>
                                </a>
                            </li>
                            <li class="mg">
                                <a href="#" target="_banlk">
                                    <div class="thumbnail-wrap"><img src="${.domain}cms/images/280x180.jpg"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footbar">
                        <i class="footbar-category"><a href="#">旅游攻略</a></i>
                        <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                        <i class="footbar-like"><a href="#">评论(2)</a></i>
                        <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场!</a></h3>
                    <div class="pov">
                        <div class="sview">
                            <div class="sviewl">
                                <div class="tittop">
                                    <b>网站小编</b><b>发布于 2018-08-03</b>
                                </div>
                                <div class="art_summary">
                                    <p>特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但…</p>
                                </div>
                                <div class="footbar">
                                    <i class="footbar-category"><a href="#">旅游攻略</a></i>
                                    <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                                    <i class="footbar-like"><a href="#">评论(2)</a></i>
                                    <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                                </div>
                            </div>
                            <div class="sviewr">
                                <a href="#"><img src="${.domain}cms/images/g7-280.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lista">
                    <h3><a href="#">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场!</a></h3>
                    <div class="pov">
                        <div class="sview">
                            <div class="sviewl">
                                <div class="tittop">
                                    <b>网站小编</b><b>发布于 2018-08-03</b>
                                </div>
                                <div class="art_summary">
                                    <p>特朗普政府24日宣布一项总额最高达120亿美元的农业补贴计划，以援助在美国挑起的贸易争端中受损的美国农场主。但…</p>
                                </div>
                                <div class="footbar">
                                    <i class="footbar-category"><a href="#">旅游攻略</a></i>
                                    <i class="footbar-like"><a href="#" title="点赞这篇文章">点赞(231) </a></i>
                                    <i class="footbar-like"><a href="#">评论(2)</a></i>
                                    <i class="footbar-like"><a href="#">阅读(2,310)</a></i>
                                </div>
                            </div>
                            <div class="sviewr">
                                <a href="#"><img src="${.domain}cms/images/g7-280.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        ${template "sitebar" .}
    </div>
</div>
</body>