${define "left_nav"}
<div class="left-col">
    <div class="site-branding">
        <div id="logo">
            <a href="${.domain}cms" rel="home">
                <img width="240" height="70" src="${.domain}cms/images/logo.png" class="custom-logo" alt="Gfast"></a>
        </div>
    </div>
    <div class="nav">
        ${if ne .menu nil}
        ${GetNav .menu.Id}
        ${else}
        ${GetNav 0}
        ${end}
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.sf-menu li').mouseover(function(e){
            $(this).children(".sub-menu").addClass("show-menu");
        });
        $('.sf-menu li').mouseout(function(){
            $(this).children(".sub-menu").removeClass("show-menu");
        })
    })
</script>
${end}