${define "sitebar"}
<div class="sitebar">
    <div class="searchbox">
        <form id="searchform" method="get" action="/">
            <input type="search" name="s" class="search-input" placeholder="请输入关键词" autocomplete="off">
            <button type="submit" class="search-submit">搜索</button>
        </form>
    </div>
    <div class="ali">
        <a href="https://www.aliyun.com/activity/daily/bestoffer?userCode=fcor2omk">
            <img src="${.domain}cms/images/ay.jpg">
        </a>
    </div>
    <div class="sitebar-article">
        <h2><span>浏览最多的文章</span></h2>
        <div class="sitebar-article-list">
            <ul>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="ali">
        <a href="https://www.aliyun.com/daily-act/ecs/care?userCode=fcor2omk">
            <img src="${.domain}cms/images/aliyun.jpg">
        </a>
    </div>

    <div class="sitebar-article">
        <h2><span>点赞最多的文章</span></h2>
        <div class="sitebar-article-list">
            <ul>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
                <li>
                    <div class="artl">
                        <a href="@#">
                            <p>超美的三亚,5天4晚全五星酒店高大上自由行</p>
                        </a>
                        <label>2018-07-27</label>
                    </div>
                    <div class="artr">
                        <a href="#"><img src="${.domain}cms/images/g17-120.jpg"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
${end}